venv/
pycache__/
__pycache__/
*.pyc
*.pyo
.idea/
.vscode/
.DS_Store
.env
.env.*
.ipynb_checkpoints/
logs/
output/
output_*/
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.dist-info/
*.egg-info/
.eggs/
build/
dist/
.dist/
pip-wheel-metadata/